<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <img height="227.4774774774775px" src="https://media0.giphy.com/media/wYC0pfFNlkXHkdttV6/giphy.gif?cid=de9bf95e09lx8rzzqj6d9gc8v36o3h53ly0bk3zrso106tmy&amp;ep=v1_gifs_search&amp;rid=giphy.gif&amp;ct=g" width="404px" itemtype="http://schema.skype.com/Giphy" key="gif_0">
                    <p>You need to log in!</p>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <img style="display: block; margin: auto; width: 60%" src="img/TurnOnOff.png">
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>